.about{
    padding: 120px 400px 160px 400px;
    &-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &-elem__left{
        padding-right: 65px;
    }
    &-divider{
        width: 60px;
        height: 0px;
        border: 3px solid #FFA501;
        margin-top: 10px;
    }
    &-text {
        margin-top: 35px;
        @include before_circle;
    }
    #first {
        grid-row: 1/5;
    }
    #second {
        grid-column: 2/4;
    }
    #third{
        grid-column: 2/4;
    }
    .img-svg{
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
        &-star{
            margin-right: 5px;
        }
    }
    
}